html{
	font-size: 24px;
}

body{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	background: #333333;
	color: afafaf;
}

.container{
	width: 80%;
	margin: auto;
}

.row{
	padding: 10px;
}

.title{
	color: orange;
	font-family: 'Caveat Brush', cursive;
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.pattern{
	display: inline;
	font-weight: 600;
}

.start {
	color: green;
	display: inline-block;
	cursor: pointer;
}

.instructions{
	font-weight: 800;
}

.text{
	font-weight: 900;
	display: inline;
}

.button{
	padding: 5px;
	display: inline-block;
	margin: 8px;
	width: 60px;
	height: 60px;
	border: solid 5px #000;
	border-radius: 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.red-text{
	color: #ff0000;
}

.green-text{
	color: green;
}

.yellow-text{
	color: yellow;
}

.purple-text{
	color: purple;
}

.blue-text{
	color: blue
}

.orange-text{
	color: orange;
}

.grey-text{
	color: grey;
}

.black-text{
	color: black;
}

.olive-text{
	color: olive;
}

#red{
	background: #ff0000;
}

#green{
	background: green;
}

#yellow{
	background: yellow;
}

#purple{
	background: purple;
}

#blue{
	background: blue
}

#orange{
	background: orange;
}

#grey{
	background: grey;
}

#black{
	background: black;
}

#olive{
	background: olive;
}

@media (max-width: 1200px){
	html{
		font-size: 22px;
	}

	.button{
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 1000px){
	html{
		font-size: 20px;
	}

	.title{
		font-size: 2.5rem;
	}

	.button{
		width: 50px;
		height: 50px;
		margin: 7px;
	}
}

@media (max-width: 800px){
	html{
		font-size: 18px;
	}

	.title{
		font-size: 2rem;
	}

	.button{
		width: 45px;
		height: 45px;
	}
}

@media (max-width: 600px){
	html{
		font-size: 16px;
	}

	.button{
		width: 30px;
		height: 30px;
		margin: 5px;
	}
}
